@model IEnumerable<OnlineGallery.Models.Transactions>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().TransactionDate)</th>
            <th>Пользователь</th>
            <th>Изображение</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TransactionDate.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@(item.User != null ? $"{item.User.FirstName} {item.User.LastName}" : "—")</td>
                <td>@(item.Image != null ? item.Image.Title : "—")</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@item.TransactionId">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
