@model OnlineGallery.Models.Favorite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @(Model.Image != null ? Model.Image.ImageId.ToString() : "—")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @(Model.User != null ? Model.User.UserId.ToString() : "—")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FavoriteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
